.container {
  display: flex;
  width: 50%;
  height: 80vh;
  border: 4px solid rgb(255, 68, 0);
}
.left {
  flex: 1;
  gap: 5px;
  justify-content: center;
  align-items: flex-end;
  border-right: 4px solid rgb(255, 68, 0);
}
.right {
  flex: 2;
  justify-content: center;
  align-items: center;
}
.left,
.right {
  display: flex;
  padding: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-color: rgb(247, 106, 235);
}
.col-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  margin: 10px;
}
.col {
  width: 100%;
  height: 20px;
  background-color: rgb(255, 68, 0);
}
.col-half {
  width: 60%;
}
