#example {
    width: 100px;
    height: 100px;
    background-color: red;
    /* margin-top: 100px;*/
    /* margin: 100px;*/
    padding-bottom: 100px;

}

#example2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    /* margin-top: 100px;*/
    /* margin: 100px;*/
    padding-right: 100px;


}