body {
    background-color: rgb(255, 251, 233);
}

h1 {
    text-align: center;
    color: #ff7300;
    font-size: 40px;
}

h2 {
    color: rgb(53, 161, 255);
    background-color: rgba(201, 230, 255, 0.637);
    padding: 10px;
    border-left: 4px solid rgb(53, 161, 255);
    ;
}

p {
    color: gray;
}


.food-list,
.hobbie-list {
    color: red;
    background-color: aliceblue;
    font-weight: bold;
    padding: 20px;


}

.food-list ul,
.hobbie-list ul {
    color: black;
    font-weight: 100;
    margin: 15px;
    padding: 5px;
}


.food-list li::marker,
.hobbie-list li::marker {
    color: black;
}