.parent {
  width: 300px;
  height: 300px;
  background-color: #0000fd;
  position: relative;
}
.child {
  position: absolute;
  background-color: #fb0000;
}
.child1 {
  width: 20px;
  height: 300px;
  left: 30px;
}
.child2 {
  width: 300px;
  height: 20px;
  top: 30px;
}
