h1 {
  font-size: 48px;
  text-align: center;
  color: rgb(198, 198, 198);
}

p {
  font-size: 18px;
  color: rgb(94, 94, 94);
}

@media (max-width: 900px) {
  h1 {
    font-size: 38px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}
