body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background: linear-gradient(to right, #677ce7, #6e65c6, #754ca3);
  display: flex;
  align-items: center;
}
.header h1 {
  color: white;
  font-size: 25px;
  margin-left: 25px;
}
.content {
  flex: 1;
  display: flex;
}
.main {
  flex: 6;
  padding: 20px;
}
.nav,
.sidebar {
  flex: 1;
  background-color: #f8f9fa;
  padding: 10px 20px;
}
.nav h3,
.sidebar h3 {
  font-size: 20px;
  color: #4b4b4b;
}
.nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav ul li {
  padding: 20px 10px;
}
.nav a {
  text-decoration: none;
  color: #6b6b6b;
}

.features {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(219, 219, 219);
}
.features h1 {
  font-size: 20px;
  color: #4b4b4b;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sidebar-container div {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
}
.sidebar-container div h3 {
  font-size: 20px;
}
.sidebar-container div p {
  font-size: 18px;
}
.footer {
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
.footer h4 {
  color: white;
  margin: 0;
}
.footer-links a {
  text-decoration: none;
  color: #b7b7b7;
  padding: 10px;
}
/*
*/
.nav,
.nav ul {
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav ul {
    flex-direction: row;
  }
}
