body {
    background-image: url("https://media.istockphoto.com/id/1130636356/photo/sunset-over-mountain-with-cosmos-blooming.jpg?s=612x612&w=0&k=20&c=0fK0C07rR3kqX4C9PLhqNjxSs6d6vSTMPTkPlD-CybQ=");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

}

.container {
    width: 30%;
}

.transparent-title {
    background-color: rgba(178, 0, 187, 0.175);
    color: rgba(0, 0, 0, 0.373);
    font-size: 48px;
    padding: 10px;
}

.title {
    color: rgb(0, 0, 0);

    background-color: rgb(178, 0, 187);
    font-size: 48px;
    padding: 10px;

}