#container {
    display: inline-block;
    background-color: rgb(175, 175, 175);
    box-shadow: 5px 7px 5px rgb(57, 57, 57);
    border-radius: 2px;
}

.box {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #000000
}

#first {

    background-color: #00b472;

}

#second {

    background-color: #e7863c;

}

.button {
    background-color: #00b472;
    border: 2px solid #006e46;
    cursor: pointer;
    padding: 5px;
}

input {
    padding: 5px;
}

input::placeholder {
    font-size: 16px;
    color: #555;
}

.prompt {
    margin-top: 10px;
    font-weight: 500;
}