.container {
  display: flex;
  width: 50%;
  height: 80vh;
}
.left,
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(154, 154, 154);
  padding: 20px;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-color: rgb(106, 153, 247);
}
