.parent {
  width: 400px;
  height: 200px;
  background-color: #6859df;
  position: relative;
  border-radius: 5px;
}
.text {
  position: absolute;
  font-weight: bold;
}
.text1 {
  left: 10px;
  top: 5px;
}
.text2 {
  right: 10px;
  bottom: 5px;
}

.col {
  background-color: #adb9be;
  position: absolute;
}
.col1 {
  width: 25px;
  height: 25px;
  bottom: 5px;
  left: 5px;
}

.col2 {
  width: 25px;
  height: 100px;
  bottom: 5px;
  left: 50px;
}

.col3 {
  width: 25px;
  height: 145px;
  bottom: 5px;
  left: 100px;
}

.col4 {
  width: 25px;
  height: 125px;
  bottom: 5px;
  left: 145px;
}

.col5 {
  width: 25px;
  height: 100px;
  bottom: 5px;
  left: 190px;
}

.col6 {
  width: 25px;
  height: 55px;
  bottom: 5px;
  left: 235px;
}
