.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 4px solid rgb(255, 108, 127);
}

.section1,
.section2 {
  padding: 50px;
}

.section1 {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid rgb(255, 108, 127);
}

.section2 {
  flex: 1;
  display: flex;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: rgb(255, 108, 127);
}
.col {
  display: flex;
  gap: 10px;
  flex: 1;
}
.col:last-child {
  justify-content: flex-end;
}
.col:first-child {
  justify-content: flex-start;
}
.object {
  width: 100px;
  height: 20px;
  background-color: rgb(255, 108, 127);
}
