body {
    background-color: azure;
}

h1 {
    text-align: center;
    text-decoration: underline;

}

h2,
h3 {
    color: rgb(42, 159, 255);
}



strong {
    color: rgb(171, 25, 255);
}

em {
    color: rgb(0, 208, 153);
}

hr {
    height: 2px;
    background-color: rgb(51, 51, 51);
    border: none;

}

.hr-about,
.hr-interests,
.hr-goals {
    background-color: rgb(0, 174, 255);

}