.navbar {
  background: linear-gradient(to right, #677ce7, #6e65c6, #754ca3);
  display: flex;
  align-items: center;
}
body {
  margin: 0;
}
.nav {
  list-style: none;
  display: flex;
  align-items: stretch;
  width: 100%;
  padding: 0;
}
.nav li > a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  font-size: 18px;
}
.nav li > a:hover {
  background-color: #ffffff33;
}
.nav li:nth-child(1) {
  flex: 1;
}
.content {
  background-color: rgb(240, 240, 240);
  padding: 50px;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
  text-align: center;
}
.content-container h1 {
  font-size: 50px;
}
.content-container p {
  font-size: 25px;
  color: #444444;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  margin-top: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu li a {
  color: black;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  border-bottom: 1px solid #e0e0e0;
}
.dropdown-menu li a:hover {
  background-color: #f5f5f594;
}

.dropdown-menu li:last-child a {
  border-bottom: none;
}
