* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  color: rgb(164, 164, 164);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: aliceblue;
}
/* 33.333% + 33.333% + 33.333% + 20px + 20px = width
40/3 = 13.33
*/

.img-container {
  width: calc((100% / 3) - 13.33px);
  height: 250px;
  position: relative;
}
/* 50% + 50% + 20px  = width
40/2 = 20
*/
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.img-container span {
  position: absolute;
  left: 0;
  bottom: 0;
  color: rgba(255, 255, 255, 0.714);
  font-size: 30px;
  padding: 10px;
}
@media (max-width: 900px) {
  .img-container {
    width: calc((100% / 2) - 20px);
    height: 200px;
  }
  .img-container span {
    font-size: 20px;
    padding: 7px;
  }
}

@media (max-width: 600px) {
  .img-container {
    width: 100%;
    height: 150px;
  }
  .img-container span {
    font-size: 15px;
    padding: 5px;
  }
}
