.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(203, 203, 203);
  height: 90vh;
  width: 50%;
  padding: 50px 70px;
}
.section1,
.section2,
.section3 {
  flex: 1;
}
.section2 {
  display: flex;
  flex: 2;
  gap: 10px;
}
.left,
.right {
  flex: 1;
  display: flex;
}
.right {
  flex-direction: column;
  gap: 10px;
}
.row {
  flex: 1;
  display: flex;
  gap: 10px;
}
.box {
  flex: 1;
  background-color: rgb(75, 120, 255);
  width: 100%;
  height: 100%;
}
