.container {
  position: relative;
  background-color: aqua;
  width: 50%;
  margin: auto;
  border: 3px solid black;
}

.container img {
  width: 100%;
  display: block;
}

.text {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
}

.text1 {
  top: 0;
  left: 0;
}
.text2 {
  top: 0;
  right: 0;
}
.text3 {
  bottom: 0;
}
.text4 {
  bottom: 0;
  right: 0;
}
