body {
  background: linear-gradient(to right, #677ce7, #6e65c6, #754ca3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

header {
  text-align: center;
  margin: 10px 0;
}
h1,
p {
  margin: 0;
}

h1 {
  font-size: 30px;
}
p {
  font-size: 15px;
  color: #5f5f5f;
}
form {
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
}

fieldset {
  display: flex;
  gap: 10px;
  border: none;
}

fieldset div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}

input,
select,
textarea {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  padding: 6px 10px;
}

label {
  color: rgb(74, 74, 74);
  font-weight: bold;
  font-size: 15px;
}

.preferences {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 10px;
}
.preferences label {
  display: flex;
  align-items: center;
}

.buttons {
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 10px 15px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.save-draft {
  background-color: rgb(248 249 250);
  color: rgb(99, 99, 99);
}

.submit-btn {
  background: linear-gradient(to right, rgb(68 181 254), rgb(12 230 253));
  color: white;
}
