* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #677ce7, #6e65c6, #754ca3);
}

form {
  width: 700px;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 32px;
}

p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: #666;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
  color: #2f3455;
}

.row {
  display: flex;
  gap: 20px;
}

.row > div {
  flex: 1;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #e0e3ea;
  font-size: 14px;
  margin-bottom: 20px;
}

textarea {
  resize: none;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

.preferences {
  display: flex;
  gap: 25px;
  margin-top: 10px;
}

.preferences label {
  display: flex;
  gap: 8px;
  font-weight: normal;
  white-space: nowrap;
}
.pref-item {
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #444;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

button {
  padding: 12px 28px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.submit-btn {
  background: linear-gradient(to right, #5fc6ff, #4aa3ff);
  color: white;
}

.reset-btn {
  background-color: #f2f4f8;
  color: #666;
}
