    /*PARENTS, CHILDREN*/

    #parent {
        background-color: red;
        /*width: 300px;*/
        /*height: 300px;*/
        display: inline-block;
        padding: 10px;


    }

    #child1 {
        width: 100px;
        height: 100px;
        background-color: blue;
        margin-top: 10px;

    }

    #child2 {
        width: 100px;
        height: 100px;
        background-color: green;
        /* margin-bottom: 10000px;*/


    }